<div class="home-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-title">
          <div class="title">
            <h2><b>Investissement locatif <br>clé en main et rentable</b></h3>
            <h3>Spécialiste de l’immobilier ancien, <br>à <b>Lyon</b>, Villeurbanne et leurs environs</h4>
            <h4><i>Débutant, confirmé, en France ou à l’étranger, déléguez l’intégralité de votre projet à nos experts</i></h5>
            <a href="{% path_to investir %}#response" class="btn btn-primary">Lancer mon projet </a>
          </div>
          <div class="investir-button text-center">
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>

<div class="container padded invest">
  <div class="row padding-top">
    <div class="col-md-10 col-md-offset-1">
      <h2>Investissement locatif clé en main et personnalisé</h2>
    </div>
  </div>
    <div class="row icon text-center">
      <div class="col-md-3">
        <h4><b>Stratégie</b></h4>
        <%= image_tag("icon-bleu-position.svg") %>
        <br>
        <br>
        <p>Après étude de votre situation et de vos objectifs, nous élaborons une stratégie personnalisée</p>
      </div>
      <div class="col-md-3">
        <h4><b>Clé en main</b></h4>
        <%= image_tag("cataneo-icon-main.svg") %>
        <br>
        <br>
        <p>Accompagnement sur toutes les étapes: stratégie, recherche du bien, financement, travaux, fiscalité et gestion locative</p>
      </div>
      <div class="col-md-3">
        <h4><b>Immobilier ancien</b></h4>
        <%= image_tag("icon-immeuble-bleu.svg") %>
        <br>
        <br>
        <p>Pour maximiser les intérêts de nos clients (prix d’achat, valorisation), toutes nos opérations sont réalisées dans l’ancien</p>
      </div>
      <div class="col-md-3">
        <h4><b>Rendement net 3 à 7 %</b></h4>
        <%= image_tag("icon-calculette-bleu.svg") %>
        <br>
        <br>
        <p>Chaque opération présente un équilibre entre sécurité locative et performance financière</p>
      </div>
    </div>
  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <h4>« Catanéo <b>défend les intérêts des investisseurs</b> en proposant des opérations performantes adaptées à leur situation. »</h4>
    </div>
  </div>
</div>

<div class="strategy">
  <div class="container padded invest">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Simplicité et rapidité</h2>
      </div>
    </div>
      <div class="row icon text-center">
        <div class="col-md-3 col-md-offset-2">
          <%= image_tag("icon-global.svg")%>
          <h4>Accompagnement global</h4>
        </div>
        <div class="col-md-3">
          <%= image_tag("cataneo-icon-savoir.svg")%>
          <h4>Conseils personnalisés</h4>
        </div>
        <div class="col-md-3">
          <%= image_tag("icon-gain-de-temps.svg")%>
          <h4>Gain de temps</h4>
        </div>
      </div>
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h4>Notre équipe est capable d’accompagner <b>à distance</b> tout type de clients (débutants, confirmés, lyonnais, parisiens, expatriés…) pour sécuriser et mener leur projet de A à Z.</h4>
        <div class="padding-top">
          <a href="{% path_to presentation %}" class="btn btn-outline-primary">Notre expertise</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Catanéo vous accompagne dans votre stratégie</h2>
    </div>
  </div>
  <div class="row icon text-center">
    <div class="col-md-3 col-md-offset-2">
      <%= image_tag("icon-calculette-bleu.svg")%>
      <h4><b>Rendement élevé</b></h4>
    </div>
    <div class="col-md-3">
      <%= image_tag("icon-augmentation.svg")%>
      <h4><b>Valorisation</b></h4>
    </div>
    <div class="col-md-3">
      <%= image_tag("icon-immeuble-bleu.svg")%>
      <h4><b>Patrimonial</b></h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <h4>Le marché Lyonnais présente des opportunités variées répondant à de nombreux objectifs.</h4>
      <div class="padding-top">
        <a href="{% path_to investir %}" class="btn btn-primary">Notre méthode d’accompagnement</a>
      </div>
    </div>
  </div>
</div>

<div class="container appartment-list">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Opérations réalisées</h2>
      <h4>Exemples de réalisations terminées pour nos clients </h4>
    </div>
  </div>
  <div class="row">
    {% for reference in contents.references limit:8 %}
    <div class="col-md-3 padding-top link-ref">
      <a href="{% path_to reference %}">
        <%= image_tag("{{ reference.principal_image.url }}")%>
      </a>
      <h4>{{ reference.name}}</h4>
      <p>{{ reference.surface}} - {{ reference.total_budget}}</p>
    </div>
    {% endfor %}
  </div>
  <div class="row text-center padding-top">
    <a href="{% path_to references %}" class="btn btn-primary">Voir toutes nos références</a>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Chiffres clés</h2>
    </div>
  </div>
  <div class="row padded text-center">
    <div class="col-md-3 col-md-offset-2">
      <div class="border-primary">
        <div class="rounded-icon">
          <p>85</p>
        </div>
        <br>
        <p>opérations</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="border-primary">
        <div class="rounded-icon">
          <p>115</p>
        </div>
        <br>
        <p>locataires</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="border-primary">
        <div class="rounded-icon">
          <p>27</p>
        </div>
        <br>
        <p>millions d’euros investis</p>
      </div>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Carte des opérations</h2>
    </div>
  </div>
</div>
<div class="map-cataneo">
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1gvaVLx1fXuLq-LtsJkB3k1dTmbLSXfga&ll=45.754705543236%2C4.815821971289097&z=12"></iframe>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4>Légende :</h4>
    </div>
    <div class="col-md-5">
      <h4 class="color-blue">Investissements colocations</h4>
    </div>
    <div class="col-md-5">
      <h4 class="color-purple">Investissements studios - T2</h4>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row text-center footer-brand">
      <%= image_tag("cataneo-logo-banner.png")%>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-2">
        <p>&copy; Catanéo {{ now | localized_date: '%Y' }} </p>
      </div>
      <div class="col-md-2">
        <a href="mentions">Mentions Légales</a>
      </div>
      <div class="col-md-2">
        <a href="tel:04 78 92 11 06">Tél : 04 78 92 11 06</a>
      </div>
      <div class="col-md-3">
        <a href="mailto:contact@cataneo.fr">contact@cataneo.fr</a>
      </div>
      <div class="col-md-3 social">
        <p>Suivez nous
          <a href="https://www.facebook.com/cataneoimmo/">
            <%= image_tag("icon-bleu-facebook.svg", :style => "height: 20px")%>
          </a>
          <a href="https://www.linkedin.com/company/cataneo/">
            <%= image_tag("icon-bleu-linkedin.svg", :style => "height: 21px")%>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
