
<div class="container appartment-list">
  <h2>Descriptif des opérations</h2>
    <div class="row">
      <div class="col-md-3 padding-top link-ref">
          <% link_to '/references/collocation-01.html' do %>
            <%= image_tag("references/couvertureletorri.png") %>
            <h4>Colocation 3 personnes Lyon 8</h4>
            <p>63m2 - 243 000 €</p>
          <% end %>
      </div>
      <div class="col-md-3 padding-top link-ref">
        <% link_to '/references/studio-01.html' do %>
          <%= image_tag("references/couverturedessablons.png") %>
        <% end %>
        <h4>Studio Lyon 4</h4>
        <p>20m2 - 144 000 €</p>
      </div>
      <div class="col-md-3 padding-top link-ref">
        <% link_to '/references/collocation-02.html' do %>
          <%= image_tag("references/couverturehuyghe.png") %>
        <% end %>
        <h4>Colocation 3 personnes Lyon 8</h4>
        <p>67m2 - 241 000 €</p>
      </div>
      <div class="col-md-3 padding-top link-ref">
        <% link_to '/references/t1bis-01.html' do %>
          <%= image_tag("references/couverturecelton.png") %>
        <% end %>
        <h4>T1 Bis Lyon 3</h4>
        <p>25m2 - 195 000 €</p>
      </div>
      <div class="col-md-3 padding-top link-ref">
        <% link_to '/references/studio-02.html' do %>
          <%= image_tag("references/couverturebardet.png") %>
        <% end %>
        <h4>Studio Lyon 7</h4>
        <p>40m2 - 243 000 €</p>
      </div>
      <div class="col-md-3 padding-top link-ref">
        <% link_to '/references/t2-01.html' do %>
          <%= image_tag("references/couverturedeau.png") %>
        <% end %>
        <h4>T2 Villeurbanne</h4>
        <p>40m2 - 175 000 €</p>
      </div>
    </div>
</div>
<div class="container padded">
  <h2>Plan des opérations réalisées</h2>
</div>
<div class="map-cataneo">
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1gvaVLx1fXuLq-LtsJkB3k1dTmbLSXfga&ll=45.754705543236%2C4.815821971289097&z=12"></iframe>
</div>
